body {
	font-family: 'TeX Gyre Heros', sans-serif;
}
code {
	font-family: 'Liberation Mono', monospace;
	font-size: 100%;
}
h1 {
	margin-top: 0em;
	margin-bottom: 0.5em;
	font-weight: bold;
	line-height: 125%;
}
h2 {
	font-weight: bold;
}

.panel-heading {
	font-size: 120%;
	font-weight: bold;
}

.list-group-item {
	word-wrap: break-word;
}

.myAlignCenter {
	text-align: center;
}

.myRegularWeight {
	font-weight: normal;
}

/* http://stackoverflow.com/questions/274149/css-repeat-table-headers-in-print-mode */
thead {display: table-header-group;}

@media screen { body { padding: 20px; }}
@media print { body { padding: 0px; margin: 0px; }}

.bo8cell     { background: rgba(78,154,255,0.5) !important; }
.confcell    { background: rgba(94,178,49,0.5) !important; }
.journalcell { background: rgba(229,159,0,0.5) !important; }
