body {
	font-family: 'Helvetica Neue', sans-serif;
	max-width: 1200px;
	margin: 0 auto;
}
code {
	font-family: 'Liberation Mono', monospace;
	font-size: 100%;
}
h1 {
	margin-top: 0em;
	margin-bottom: 0.5em;
	font-weight: bold;
	line-height: 125%;
}
h2 {
	font-weight: bold;
}

.panel-heading {
	font-size: 120%;
	font-weight: bold;
}

.list-group-item {
	word-wrap: break-word;
}

.myAlignCenter {
	text-align: center;
}

.myRegularWeight {
	font-weight: normal;
}

/* http://stackoverflow.com/questions/274149/css-repeat-table-headers-in-print-mode */
thead {display: table-header-group;}

@media screen { body { padding: 20px; }}

.abcd1cell     { background: rgba(255, 251, 0, 0.5) !important; }
.abcd2cell     { background: rgba(229,159,0,0.5) !important; }
.abcd3cell     { background: rgba(100,100, 100, 0.5) !important; }
.abcd4cell     { background: rgba(150, 150, 0,  0.5) !important; }

.bo8cell     { background: rgba(78,154,255,0.5) !important; }
.confcell    { background: rgba(178, 49, 70, 0.2) !important; }
.journalcell { background: rgba(94,178,49,0.5 !important; }

.litfam_author {
	border-radius: 50%;
	max-height: 5rem;
	margin-right: 1rem;
}

.litfam_author_for_profile {
	max-height: 16rem;
}